// Custom variables
$primary: #2172b4;
$success: #3f9d6e;
$info: #162249;
$warning: #bc8d36;
$danger: #f44336;
$light: #f2f2f0;
$dark: #162249;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
  "altlight": #80b9eb,
  "altdark": #647fac,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap";
